.goodsWrap {
  background-color: #fff;
  /* padding: 20px; */
}

/* /* .flexWrap {
  display: flex;
}/ */

@media screen and (min-width: 768px) {
  /*　画面サイズが480pxからはここを読み込む　*/
  .goods-list-wrap {
    border-right: 1px solid #ff9933;
  }
}
